
*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
/discogs_20200101_artists.xml
/discogs_20200101_labels.xml
/discogs_20200101_masters.xml
/discogs_20200101_releases.xml
/masters-sample.xml
/labels-sample.xml
/artists-sample.xml
/discogs_20200220_artists.xml
/discogs_20200220_artists.xml.gz
/discogs_20200220_labels.xml
/discogs_20200220_labels.xml.gz
/discogs_20200220_masters.xml
/discogs_20200220_masters.xml.gz
/discogs_20200220_releases.xml
/discogs_20200220_releases.xml.gz
